<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zngl.dao.HomeDecorationDAO">

    <resultMap id="homeDecorationMap" type="com.zngl.model.HomeDecorationType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="children" ofType="com.zngl.model.HomeDecorationTypeList" column="id" select="findTypeListById">
       </collection>
    </resultMap>

    <!--查全部不分页-->
    <select id="findAll" resultMap="homeDecorationMap">
        SELECT * FROM home_decoration_type
    </select>

    <!--通过ID查询单个HomeDecorationTypeList-->
    <select id="findTypeListById" resultType="com.zngl.model.HomeDecorationTypeList">
        SELECT * FROM home_decoration_type_list
        <where>
            <choose>
                <when test="id != null">
                    parent_id = #{id}
                </when>
                <when test="parent_id != null">
                    id = #{parent_id}
                </when>
            </choose>
        </where>
    </select>


    <!--更新左侧选择的数量-->
    <update id="updateCurrentNum">
        UPDATE home_decoration_type_list SET current_num=#{current_num}
        WHERE id=#{id}
    </update>

    <!--新增-->
    <insert id="insert">
        INSERT INTO home_decoration_type(id,name)
        VALUES (#{id},#{name})
    </insert>



</mapper>